In [4]:
import requests
import pandas as pd
import os
from dotenv import load_dotenv

In [3]:
load_dotenv()

True

### Get the Latitue and Longitude of each city by using an API

https://api-ninjas.com/api/geocoding

Needs an account to get the API key, 10000 request by month authorized

In [37]:
API_KEY = os.getenv('GEO_API_KEY')

In [26]:
city = 'london'
api_url = f'https://api.api-ninjas.com/v1/geocoding?city={city}'
response = requests.get(api_url, headers={'X-Api-Key': API_KEY})
print(response.status_code)
if response.status_code == requests.codes.ok:
    city_position = response.json()[0]
    print(response.json()[0])
else:
    print("Error:", response.status_code, response.text)

200
{'name': 'London', 'latitude': 51.5073219, 'longitude': -0.1276474, 'country': 'GB', 'state': 'England'}

### Get unique cities in the Dataframe

In [21]:
df_athlete = pd.read_csv("athlete_events.csv", sep=',')
df_athlete

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [25]:
df_athlete["City"].unique()

array(['Barcelona', 'London', 'Antwerpen', 'Paris', 'Calgary',
       'Albertville', 'Lillehammer', 'Los Angeles', 'Salt Lake City',
       'Helsinki', 'Lake Placid', 'Sydney', 'Atlanta', 'Stockholm',
       'Sochi', 'Nagano', 'Torino', 'Beijing', 'Rio de Janeiro', 'Athina',
       'Squaw Valley', 'Innsbruck', 'Sarajevo', 'Mexico City', 'Munich',
       'Seoul', 'Berlin', 'Oslo', "Cortina d'Ampezzo", 'Melbourne',
       'Roma', 'Amsterdam', 'Montreal', 'Moskva', 'Tokyo', 'Vancouver',
       'Grenoble', 'Sapporo', 'Chamonix', 'St. Louis', 'Sankt Moritz',
       'Garmisch-Partenkirchen'], dtype=object)

In [34]:
def get_position(city_list: list):
    city_position_list = []
    for city in city_list:
        city_info = {"City": city}
        api_url = f'https://api.api-ninjas.com/v1/geocoding?city={city}'
        response = requests.get(api_url, headers={'X-Api-Key': API_KEY})
        
        if response.status_code == requests.codes.ok:
            print(response.json()[0])
            city_info.update(response.json()[0])
            city_position_list.append(city_info)
        else:
            print("Error:", response.status_code, response.text)
    
    return pd.DataFrame(city_position_list)

In [35]:
city_position_list = get_position(df_athlete["City"].unique())

{'name': 'Barcelona', 'latitude': 41.3828939, 'longitude': 2.1774322, 'country': 'ES', 'state': 'Catalonia'}
{'name': 'London', 'latitude': 51.5073219, 'longitude': -0.1276474, 'country': 'GB', 'state': 'England'}
{'name': 'Antwerp', 'latitude': 51.2211097, 'longitude': 4.3997081, 'country': 'BE', 'state': 'Antwerp'}
{'name': 'Paris', 'latitude': 48.8588897, 'longitude': 2.3200410217200766, 'country': 'FR', 'state': 'Ile-de-France'}
{'name': 'Calgary', 'latitude': 51.0460954, 'longitude': -114.065465, 'country': 'CA', 'state': 'Alberta'}
{'name': 'Albertville', 'latitude': 45.6754622, 'longitude': 6.3925417, 'country': 'FR', 'state': 'Auvergne-Rhône-Alpes'}
{'name': 'Lillehammer', 'latitude': 61.1145451, 'longitude': 10.4670073, 'country': 'NO'}
{'name': 'Los Angeles', 'latitude': 34.0536909, 'longitude': -118.242766, 'country': 'US', 'state': 'California'}
{'name': 'Salt Lake City', 'latitude': 40.7596198, 'longitude': -111.8867975, 'country': 'US', 'state': 'Utah'}
{'name': 'Helsinki', 'latitude': 60.1674881, 'longitude': 24.9427473, 'country': 'FI'}
{'name': 'Village of Lake Placid', 'latitude': 44.279621, 'longitude': -73.979874, 'country': 'US', 'state': 'New York'}
{'name': 'Sydney', 'latitude': -33.8698439, 'longitude': 151.2082848, 'country': 'AU', 'state': 'New South Wales'}
{'name': 'Atlanta', 'latitude': 33.7489924, 'longitude': -84.3902644, 'country': 'US', 'state': 'Georgia'}
{'name': 'Stockholm', 'latitude': 59.3251172, 'longitude': 18.0710935, 'country': 'SE'}
{'name': 'Sochi', 'latitude': 43.5854823, 'longitude': 39.723109, 'country': 'RU', 'state': 'Krasnodar Krai'}
{'name': 'Nagano', 'latitude': 36.6485851, 'longitude': 138.1947664, 'country': 'JP'}
{'name': 'Turin', 'latitude': 45.0677551, 'longitude': 7.6824892, 'country': 'IT', 'state': 'Piedmont'}
{'name': 'Beijing', 'latitude': 39.906217, 'longitude': 116.3912757, 'country': 'CN', 'state': 'Beijing'}
{'name': 'Rio de Janeiro', 'latitude': -22.9110137, 'longitude': -43.2093727, 'country': 'BR', 'state': 'Rio de Janeiro'}
{'name': 'Athens', 'latitude': 37.9839412, 'longitude': 23.7283052, 'country': 'GR', 'state': 'Attica'}
{'name': 'Squaw Valley', 'latitude': 36.7402261, 'longitude': -119.246785, 'country': 'US', 'state': 'California'}
{'name': 'Innsbruck', 'latitude': 47.2654296, 'longitude': 11.3927685, 'country': 'AT', 'state': 'Tyrol'}
{'name': 'City of Sarajevo', 'latitude': 43.8519774, 'longitude': 18.3866868, 'country': 'BA', 'state': 'Federation of Bosnia and Herzegovina'}
{'name': 'Mexico City', 'latitude': 19.4326296, 'longitude': -99.1331785, 'country': 'MX'}
{'name': 'Munich', 'latitude': 48.1371079, 'longitude': 11.5753822, 'country': 'DE', 'state': 'Bavaria'}
{'name': 'Seoul', 'latitude': 37.5666791, 'longitude': 126.9782914, 'country': 'KR'}
{'name': 'Berlin', 'latitude': 52.5170365, 'longitude': 13.3888599, 'country': 'DE'}
{'name': 'Oslo', 'latitude': 59.9133301, 'longitude': 10.7389701, 'country': 'NO'}
{'name': "Cortina d'Ampezzo", 'latitude': 46.5383332, 'longitude': 12.1373506, 'country': 'IT', 'state': 'Veneto'}
{'name': 'Melbourne', 'latitude': -37.8142176, 'longitude': 144.9631608, 'country': 'AU', 'state': 'Victoria'}
{'name': 'Rome', 'latitude': 41.8933203, 'longitude': 12.4829321, 'country': 'IT', 'state': 'Lazio'}
{'name': 'Amsterdam', 'latitude': 52.3727598, 'longitude': 4.8936041, 'country': 'NL', 'state': 'North Holland'}
{'name': 'Montreal', 'latitude': 45.5031824, 'longitude': -73.5698065, 'country': 'CA', 'state': 'Quebec'}
{'name': 'Moscow', 'latitude': 55.7504461, 'longitude': 37.6174943, 'country': 'RU', 'state': 'Moscow'}
{'name': 'Tokyo', 'latitude': 35.6828387, 'longitude': 139.7594549, 'country': 'JP'}
{'name': 'Vancouver', 'latitude': 49.2608724, 'longitude': -123.113952, 'country': 'CA', 'state': 'British Columbia'}
{'name': 'Grenoble', 'latitude': 45.1875602, 'longitude': 5.7357819, 'country': 'FR', 'state': 'Auvergne-Rhône-Alpes'}
{'name': 'Sapporo', 'latitude': 43.061936, 'longitude': 141.3542924, 'country': 'JP'}
{'name': 'Chamonix-Mont-Blanc', 'latitude': 45.9246705, 'longitude': 6.8727506, 'country': 'FR', 'state': 'Auvergne-Rhône-Alpes'}
{'name': 'Saint Louis', 'latitude': 38.6319657, 'longitude': -90.2428756, 'country': 'US', 'state': 'Missouri'}
{'name': 'Sankt Moritz', 'latitude': 46.4978958, 'longitude': 9.8392428, 'country': 'CH', 'state': 'Grisons'}
{'name': 'Garmisch-Partenkirchen', 'latitude': 47.4923741, 'longitude': 11.0962815, 'country': 'DE', 'state': 'Bavaria'}

In [36]:
city_position_list

,City,name,latitude,longitude,country,state
0,Barcelona,Barcelona,41.382894,2.177432,ES,Catalonia
1,London,London,51.507322,-0.127647,GB,England
2,Antwerpen,Antwerp,51.221110,4.399708,BE,Antwerp
3,Paris,Paris,48.858890,2.320041,FR,Ile-de-France
4,Calgary,Calgary,51.046095,-114.065465,CA,Alberta
5,Albertville,Albertville,45.675462,6.392542,FR,Auvergne-Rhône-Alpes
6,Lillehammer,Lillehammer,61.114545,10.467007,NO,NaN
7,Los Angeles,Los Angeles,34.053691,-118.242766,US,California
8,Salt Lake City,Salt Lake City,40.759620,-111.886798,US,Utah
9,Helsinki,Helsinki,60.167488,24.942747,FI,NaN
10,Lake Placid,Village of Lake Placid,44.279621,-73.979874,US,New York
11,Sydney,Sydney,-33.869844,151.208285,AU,New South Wales
12,Atlanta,Atlanta,33.748992,-84.390264,US,Georgia
13,Stockholm,Stockholm,59.325117,18.071093,SE,NaN
14,Sochi,Sochi,43.585482,39.723109,RU,Krasnodar Krai
15,Nagano,Nagano,36.648585,138.194766,JP,NaN
16,Torino,Turin,45.067755,7.682489,IT,Piedmont
17,Beijing,Beijing,39.906217,116.391276,CN,Beijing
18,Rio de Janeiro,Rio de Janeiro,-22.911014,-43.209373,BR,Rio de Janeiro
19,Athina,Athens,37.983941,23.728305,GR,Attica
20,Squaw Valley,Squaw Valley,36.740226,-119.246785,US,California
21,Innsbruck,Innsbruck,47.265430,11.392769,AT,Tyrol
22,Sarajevo,City of Sarajevo,43.851977,18.386687,BA,Federation of Bosnia and Herzegovina
23,Mexico City,Mexico City,19.432630,-99.133178,MX,NaN
24,Munich,Munich,48.137108,11.575382,DE,Bavaria
25,Seoul,Seoul,37.566679,126.978291,KR,NaN
26,Berlin,Berlin,52.517037,13.388860,DE,NaN
27,Oslo,Oslo,59.913330,10.738970,NO,NaN
28,Cortina d'Ampezzo,Cortina d'Ampezzo,46.538333,12.137351,IT,Veneto
29,Melbourne,Melbourne,-37.814218,144.963161,AU,Victoria
30,Roma,Rome,41.893320,12.482932,IT,Lazio
31,Amsterdam,Amsterdam,52.372760,4.893604,NL,North Holland
32,Montreal,Montreal,45.503182,-73.569806,CA,Quebec
33,Moskva,Moscow,55.750446,37.617494,RU,Moscow
34,Tokyo,Tokyo,35.682839,139.759455,JP,NaN
35,Vancouver,Vancouver,49.260872,-123.113952,CA,British Columbia
36,Grenoble,Grenoble,45.187560,5.735782,FR,Auvergne-Rhône-Alpes
37,Sapporo,Sapporo,43.061936,141.354292,JP,NaN
38,Chamonix,Chamonix-Mont-Blanc,45.924670,6.872751,FR,Auvergne-Rhône-Alpes
39,St. Louis,Saint Louis,38.631966,-90.242876,US,Missouri
40,Sankt Moritz,Sankt Moritz,46.497896,9.839243,CH,Grisons
41,Garmisch-Partenkirchen,Garmisch-Partenkirchen,47.492374,11.096281,DE,Bavaria

In [40]:
city_position_list.to_csv("city_position.csv", index=False)